# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Chặn toàn bộ thư mục thư viện ở cả frontend và backend
**/node_modules/

# Chặn toàn bộ file biến môi trường chứa mật khẩu DB, JWT Secret
**/.env
**/.env.*

# File rác hệ thống
.DS_Store
dist/
build/